// Подключение библиотек
@import '~reset-css/sass/reset';
// ---

// Подключение рабочих файлов
@import 'variables/variables';
@import 'mixins/mixins';
@import 'fonts/fonts';
// ---

// Подключение страниц
@import 'pages/**/*.scss';
// ---

// Подключение компонентов
@import 'components/**/*.scss';
// ---

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

img,
svg {
  display: block;
}

a {
  @include reset-link;
}
