@import 'inwrap';
@import 'reset';

@mixin transition {
  transition: 250ms all ease-out;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background-image {
  background: center no-repeat;
  background-size: cover;
}

@mixin box-max-content {
  width: max-content;
  height: max-content;
}

@mixin box-min-content {
  width: min-content;
  height: min-content;
}

@mixin position-fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin no-select {
  user-select: none;
}

@mixin circle {
  border-radius: 50%;
}

@mixin pseudo {
  display: block;
  content: '';
}
